.page-views-counter {
  display:inline-block;
  vertical-align:middle;
  height:2em;
  line-height:2em;
  background-color:#333;
  color:white;
  padding:0 .6em;
  overflow:hidden;
}

.page-views-total {
  background-color:#AAA;
  display:block;
  float:left;
  margin:0 0 0 -.6em;
  padding:0 .6em;
}

.page-views-label {
  display:block;
  float:right;
  margin:0 -.6em 0 0;
  padding:0 .6em;
}